$default-margin: 2%;
$full-size: 100%;
$width-left: 80%;
$width-right: 20%;
$mat-card-width: 60%;
$grid-width: 35%;

:host {
    mat-card {
        margin: auto;
        width: $mat-card-width;

        &.help {
            margin-top: $default-margin;

            mat-card-title {
                display: inline-block;
            }

            .reset {
                display: inline-block;
                text-align: right;
            }

            @media (max-width: 775px) {
                mat-card-header {
                    display: block;
                }
            }

            @media (min-width: 1495px) {
                ::ng-deep .mat-card-header-text {
                    width: $width-left;
                }

                .reset {
                    width: $width-right;
                }
            }
        }
    }

    .grid {
        margin: auto;
        width: $grid-width;

        mat-grid-list {
            width: $full-size;

            button {
                width: $full-size;
                height: $full-size;
                font-size: 150px;
                font-weight: bold;
                border-color: blue;
                border-style: double;
            }
        }

        @media (max-width: 1200px) {
            width: 40.5%;

            mat-grid-list button {
                font-size: 125px;
            }
        }

        @media (max-width: 900px) {
            width: 55.5%;

            mat-grid-list button {
                font-size: 80px;
            }
        }
    }
}

.app-mobile {
    :host > .grid {
        @media (max-width: 500px) {
            width: $full-size;

            mat-grid-list button {
                font-size: 70px;
            }
        }
    }
}
