<div fxLayout="column" fxFlex [ngClass]="cssClassList">
    <mat-toolbar color="primary">
        <span class="toolbar-section">{{title}}</span>
    </mat-toolbar>

    <div class="content"
         fxFlex
         fxFlex.gt-sm="66"
         fxLayout="row space-around"
         fxLayoutGap="15px"
         fxLayout.sm="column"
         fxLayoutGap.sm="0px">
        <router-outlet fxFlex>
        </router-outlet>
    </div>
</div>
