$mat-toolbar-height: 64px;
$mat-toolbar-height-mobile: 56px;

:host {

    ::-webkit-scrollbar-track {
        margin-top: $mat-toolbar-height;

        @media (max-width: 600px) {
            margin-top: $mat-toolbar-height-mobile;
        }
    }

    div {
        height: 100%;

        mat-toolbar {
            position: fixed;
            z-index: 1;
            text-align: center;

            @media (min-width: 400px) {
                .toolbar-section {
                    flex: 1 1 auto;
                }
            }

            @media (max-width: 400px) {
                height: 67px;
            }
        }

        .content {
            width: 100%;
            height: calc(100% - 64px);
            padding-top: $mat-toolbar-height;
            overflow: auto;

            background: {
                color: rgba(238, 238, 238, 0.3) !important;
                image: url(/assets/innopolis.jpg);
                position: center;
                repeat: no-repeat;
                attachment: fixed;
                size: cover;
                blend-mode: color;
            }

            router-outlet {
                margin: 20px;
            }
        }
    }

    .app-mobile {
        .content {
            overflow: hidden;
        }
    }
}
